<header>
    <div class="clearfix">
        <h4 class="left without-top-margin">{{display}}</h4>
        <a href="/food" class="right">Go back</a>
    </div>
</header>

{{#if macroOverrideDisplay}}
<div class="macro-replacement">
    <span>Equals 1 {{macroOverrideDisplay}}</span>
</div>
{{/if}}

<div class="list foods">
    {{#keys foods this}}
        <div class="list-item food">
            <a href="/food/{{ctx.macro}}/{{key}}" class="btn btn-secondary btn-large btn-food">{{val.display}}</a>
        </div>
    {{/keys}}
</div>

{{#unless foods}}
<div>No foods found</div>
{{/unless}}
