<header>
    <h4>Current Macros</h4>
</header>

<div class="macros">
    {{#keys macros}}
        <div class="macro" data-key="{{key}}">
            <div class="percentage-bar relative">
                <div class="percentage-complete absolute {{key}}" style="width: {{getPercentageWidth key}}%;">
                    <div class="percentage-text absolute {{#ifIsExceedingGoal key}}exceeding{{/ifIsExceedingGoal}}">
                        <span id="text_display">{{val.display}}: </span>
                        <span id="text_count">{{val.count}}</span>
                        <span id="text_total"> / {{getGoalForMacro key}}</span>
                    </div>
                </div>
            </div>
        </div>
    {{/keys}}
</div>
